<?php
$base_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
    echo '
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/jquery-ui.min.js"></script>
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/jquery.noconflict.js"></script>
';
?>
<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function(){
        jQuery("#numberofview_button").click(function(){
            var reset_option = '<option value="" selected="selected" style="display:none;"></option>';
            jQuery('select#numberofview_numberofview_group_config_group option').removeAttr('selected');
            jQuery('select#numberofview_numberofview_group_config_group').append(reset_option);
        });

    });

</script>

<?php echo $this->getButtonHtml() ?>
