<?php
  $base_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
  echo '
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/jquery-ui.min.js"></script>
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/jquery.noconflict.js"></script>
    <script type="text/javascript" src="'.$base_url.'js/Magebuzz_Numberofview/page_manage.js"></script>
';
  echo $this->getLayout()
            ->createBlock('numberofview/adminhtml_UserPage')
            ->toHtml();

?>
